.sect {
    height:400px;
    padding-top: 150px;
    padding-bottom:50px;
}
.sect h1 {
font-size: 100px;
}
.bg-1 {
  background: url('../img/banner.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}

.container-fluid {
    max-width: 100%;
    padding: 0px;
}

@media (min-width: 768px) {
  .header .page_inner {
    padding: 0px;
  }
}



.navbar {
    margin-bottom: 0px;
    background-color: #2db4d8;
    border-color: transparent;
    padding-top: 20px;
}

.page_inner {
    padding: 0px;
}

/* Set the fixed height of the footer here */

#topNav {
	z-index:-1;
}

#nav {
  width: 100%;
}

#nav.affix-top {
   position: fixed;
   top:0;
   left:0;
   z-index:10;
   height:54px;
   background-color:transparent;
   border:0;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}

.navbar-nav {
  margin: 1px 1px;
}

.navbar-toggle {
	outline:0;
}

/*--------------------------------------------------------------------------------*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
 background-color: transparent;
}

.btn-minib {
 background-color: transparent;
 border-color: transparent;
 color: #fff;
}

.btn-minib:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
 background-color: transparent;
 border-color: transparent;
 color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
}

input.btn.btn-small {
background-color: transparent;
}

.basket-mini{
 padding-top: 10px;
}

.dropdown-menu {
 background-color: transparent;
}

.dropdown-menu > li > a {
 color: #fff;
}
.footer {
position: relative; height:auto;
}
.contact_footer
{
color: #fff;

background: #303336; /* Old browsers */
}
.social_footer
{
float: right;
color: #fff;
position:absolute;
height: 100%;
background: #18191B; /* Old browsers */
display: table-cell;
text-align: center;
vertical-align: middle;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal
}

.icon-facebook,
.icon-twitter {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased
}


.icon-facebook:before {
  content: "\ea8c"
}

.icon-twitter:before {
  content: "\ea91"
}
button, input, optgroup, select, textarea {
color:white;
}

.btn:hover, .btn:focus {
color:white;
}
.banner {
color: #fff;
}
.banner:hover {
color: #fff;
text-decoration: none;
}

.navbar-nav > li > .dropdown-menu {
margin-top: 18px;
}
.mini-basket{
margin-top: 25px;
}


.dropdown-menu.scrolling {
background-color: #2db4d8;
}

.basket-mini-item a {
color: #fff;
}

.price_color {
color: #fff;
}

.dropdown-menu {
border: 1px solid #FFFFFF;
}

input {
background: transparent !important;
border-color: #000;
border: 2px;
}
input:focus {
outline: none;
}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 50px;

}
.carousel-caption {
bottom: 0px;
}
.carousel{
margin: 0px;
}