{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
<!-- Half Page Image Background Carousel Header -->
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators format_carousel_indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
            <div class="fill" style="background-image:url('static/oscar/img/happy_2.jpg');"></div>
		<div class="slider_head">
		    <h1 class="heading_new" >What people are saying?</h1>
		</div>
                <div class="carousel-caption format_carousel pull-right">
                    <h2>An Amazing Experience, everything at the doorstep! - Kirti</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('static/oscar/img/blue_1.jpg')" ></div>
		<div class="slider_head">
		    <h1 class="heading_new">What people are saying?</h1>
		</div>
                <div class="carousel-caption format_carousel pull-right">
                    <h2>Couldnt get simpler, easy to use website! - Palak</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('static/oscar/img/paperbag18.jpg')"></div>
		<div class="slider_head">
		    <h1 class="heading_new">What people are saying?</h1>
		</div>
                <div class="carousel-caption format_carousel pull-right ">
                    <h2>Loved the experience, in an hour delivery! - Anchal</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </div>

