{% load i18n %}
<footer class="footer container-fluid contact_footer">
    {% block footer %}
        {% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}
    <div class="col-md-8">
         <ul>
             <li>support@maroonstreet.com</li>
             <li>+91-9999715696</li>
             <li>Sector-40 Noida

     </div>
    <div class="col-md-4">
        <ul>
            <li class="icon-facebook"></li>
            <li class="icon-twitter"></li>
            <li></li>
        </ul>
    </div>
       {% endblock %}
</footer>