{% load currency_filters %}
{% load category_tags %}
{% load i18n %}


  <div class="dashboard clearfix slider_format" style="
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
">
    <ul class="tiles" style="
    margin-left: 0px;
">
      <div class="col1 clearfix slider_format">
        <a href="/catalogue/category/vegetables_15/">
            <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
          <div class="modify_tile_text_size_small_tile1"><p>Vegetables</p></div>
          <div><p>Fresh from the farms!</p></div>
        </li></a>
          <a href="/catalogue/category/fruits_3/">
        <li class="tile tile-small tile tile-2 slideTextRight" data-page-type="s-page" data-page-name="random-restored-page">
          <div class="modify_tile_text_size_small_tile1"><p>Fruits</p></div>
        </li></a>
          <a href="/catalogue/category/grocery_8/">
        <li class="tile tile-small last tile-3" data-page-type="r-page" data-page-name="random-r-page">
<div><p >Grocery</p></div>
        </li></a>
          <a href="/catalogue/category/household_5/">
        <li class="tile tile-big tile-4 fig-tile" data-page-type="r-page" data-page-name="random-r-page">
          <figure>
            <img src="static/oscar/img/household.jpg"/>
            <figcaption class="tile-caption caption-left">House Hold</figcaption>
          </figure>
        </li></a>
      </div>

      <div class="col2 clearfix slider_format">
          <a href="/catalogue/category/dairy-products_2/">
        <li class="tile tile-big tile-5" data-page-type="r-page" data-page-name="random-r-page">
          <div><p><span class="icon-cloudy"></span>Dairy, Bread & Eggs</p></div>
        </li></a>
          <a href="/catalogue/category/night-out_10/">
        <li class="tile tile-big tile-6 slideTextLeft" data-page-type="r-page" data-page-name="random-r-page">
          <div><p><span class="icon-skype"></span>Night Out</p></div>
          <div><p>Make a Call</p></div>
        </li></a>
          <a href="/catalogue/category/frozen_6/">
        <li class="tile tile-small tile-7 rotate3d rotate3dX" data-page-type="r-page" data-page-name="random-r-page">
          <div class="faces">
            <div class="front"><span class="icon-picassa"></span></div>
            <div class="back"><p>Frozen</p></div>
          </div>
        </li></a>
          <a href="/catalogue/category/beverages_7/">
        <li class="tile tile-small last tile-8 rotate3d rotate3dY" data-page-type="r-page" data-page-name="random-r-page">
          <div class="faces">
            <div class="front"><span class="icon-beverage"></span></div>
            <div class="back"><p>Beverages</p></div>
          </div>
        </li></a>
      </div>

      <div class="col3 clearfix slider_format">
          <a href="/catalogue/category/posters_9/">
        <li class="tile tile-2xbig tile-9 fig-tile" data-page-type="custom-page" data-page-name="random-r-page">
          <figure>
            <img src="static/oscar/img/new-posters.jpg"/>
            <figcaption class="tile-caption transparent_tile caption-bottom">Posters
            </figcaption></figure>
        </li></a>
          <a href=" /catalogue/category/chopped-diced_44/">
        <li class="tile tile-big tile-10" data-page-type="s-page" data-page-name="custom-page">
          <div class="modify_tile_text_size"><p>Chopped Fruits & Vegetables</p></div>
        </li></a>
      </div>
    </ul>
  </div>

